{% extends "generic/object_retrieve.html" %}
{% load helpers %}
{% load fsu_helpers %}

{% block extra_breadcrumbs %}
                <li><a href="{% url list_url %}?device_type={{ object.device_type.name }}">{{ object.device_type }}</a></li>
{% endblock extra_breadcrumbs %}

{% block masthead %}
<span class="cover_copy">
    <h1>
        <span id="fsu-name">{% block title %}{{ object }}{% endblock title %}</span>
        <button class="btn btn-xs btn-default hover_copy_button" data-clipboard-target="#fsu-name">
            <span class="mdi mdi-content-copy"></span>
        </button>
    </h1>
</span>
{% endblock masthead %}

{% block content_left_page %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{ verbose_name }}</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <tr>
            <td>Type</td>
            <td>{{ object.fsu_type | hyperlinked_object }}</td>
        </tr>
        <tr>
            <td>Device Type</td>
            <td>{{ object.device_type | hyperlinked_object }}</td>
        </tr>
    {% if object|has_attr:"pci_slot_id" %}
        <tr>
            <td>PCI Slot ID</td>
            <td>{{ object.pci_slot_id | placeholder }}</td>
        </tr>
    {% endif %}
    {% if object|has_attr:"slot_id" %}
        <tr>
            <td>Slot ID</td>
            <td>{{ object.slot_id | placeholder }}</td>
        </tr>
    {% endif %}
    {% if object|has_attr:"redundant" %}
        <tr>
            <td>Redundant</td>
            <td>{{ object.redundant | render_boolean }}</td>
        </tr>
    {% endif %}
        <tr>
            <td>Description</td>
            <td>{{ object.description | placeholder }}</td>
        </tr>
    </table>
</div>
{% endblock content_left_page %}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}
